body {
  overflow-y: scroll;
  clear: both;
  padding: 0px;
  background-color:rgb(235,235,235);
}
#PWGenOptionenLogo {
  font-size: 40%;
}
#PWGen_Version {
  display: block;
  margin-top: -4px;
  font-weight: bold;
}
input:disabled {
  background: silver;
}
select:disabled {
  background: silver;
}
#PWGenOptionenInhalteBenutzerWebseiten {
  width: 100%;
}
#PWGenOptionenInhalte {
  min-height: 800px;
  width: 900px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 5px solid rgb(185,185,185);
  border-radius: 50px;
}
#PWGenOptionenWrapper {  
  width: 70%;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
}
#PWGenOptionenTabs {
  color: rgb(105,105,105);
  float: left;
  margin-right: 0px !important;
}
div.tabs {
  font-size: 210%;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;  
}
div.tabs h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: black
}
.tabsWrapper {
  background-color:rgb(220,220,220);
  text-align: left;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-top: 5px;
}
.tabsWrapper:hover{
  background-color:rgb(200,200,200);
  color: black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; 
}
.tabsWrapper .tabsKopf:hover {
  background-color:rgb(185,185,185);
  font-weight: bold;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.tabsWrapper .tabsSub:hover {
  background-color:rgb(185,185,185);
  font-weight: bold;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;  
}                 
.tabsKopf {
  padding-left: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.tabsSub {
  display: none;
  padding-left: 30px;
  font-size: 70%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;  
}
div.wrapperAktiv {
  background-color:rgb(185,185,185);
  color: black;
  border-radius: 0px; 
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
div.wrapperAktiv:hover {
  background-color:rgb(185,185,185);
  color: black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;    
}
div.wrapperAktiv:hover .tabsSub{
  display: block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;  
}

div.wrapperAktiv .tabsSub:hover, div.wrapperAktiv .tabsKopf:hover {
  background-color:rgb(200,200,200);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;  
} 
div.wrapperAktiv .tabsKopf {
  padding-left: 35px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
div.wrapperAktiv .tabsSub {
  display: block;
  padding-left: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.kopfAktiv, .subAktiv {
  background-color:rgb(185,185,185);
  font-weight: bold;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.tabsContent {
  display: none;
}
.tabsSubContent {
  display: none;
}

#PWGenOptionenInhalte {
  font-size: 120%;
  margin-left: 0px;
  padding-left: 20px;
  padding-right: 20px; 
  max-width: 70%; 
  float: left;
  text-align: justify;
  background-color: rgb(185,185,185);
}

h1, h2, h3, h4,  {
  margin-top: -5px;
}
a {
  color: blue;
  font-weight: bold;
}
td {
  vertical-align: top;
  padding-bottom: 5px;
}
td.c {
  text-align: center;
}
th.c {
  text-align: right;
}
img.MarkerMuster {
  padding-right: 25px;
}
img.InfoIcon {
  margin-right: -100px;
}
input[type="button"] {
  font-size: 90%;
  font-weight: bold;
}

