
body {
  width: auto;
  height: auto;  
  text-align: center;
  font-size: 18px;
  margin: 0px;
  margin-right: 5px;
  overflow: hidden;
}
img#PWGenPopupLogo {
  position: fixed;
  left: 1px;
  top: 1px;
}
#PWGenPopupTitel {
  position: relative;
  left: 20px;
  top: 0px;
  font-weight: bolder;
  font-size: 33px;
  margin-bottom: 8px;
  text-align: center;
}
#PWGenPopupFormTable {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#PWGenPopupFormTable td {
  padding-top: 5px  
}
tr.text {
  font-size: 90%;
}
.PWGenTextLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
input[type=text] {
  width: 11ex;
}
input:disabled, input[type=checkbox]:checked:disabled,  input[type="number"]:disabled, select:disabled{
    background: silver;
} 
input[type=button] {
  font-size: 15px;
}
#PWGenPopupFormTableMasterPW {  
  width: 15ex;
  text-align: center;
}
#PWGenPopupFormTableDomain {
  width: 24ex;
  font-size: 72%;
  text-align: center;
}
#PWGenPopupFormTableAusgabe {
  width: 35ex;
  text-align: center;
}
#PWGenPopupFormTableBenutzer {
  width: 13ex;
  text-align: center;
}
  
#PWGenPopupFormTableNummer {
  width: 3ex;
  -moz-appearance: textfield;
  text-align: center;
  font-weight: bold;
}
#PWGenPopupHinweis {
  float: right;
  margin-top: 0px;
  color: red;
  font-weight: bold;
  background: black;
  padding-left: 1ex;
  padding-right: 1ex;
}
hr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.c {
  text-align: center;
}
.l {
  text-align: left;
}
.r {
  text-align: right;
}